<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.browser">

    <application>
        <activity android:name=".activity.BrowserActivity"
            android:theme="@style/Browser.NoActionBar"
            android:configChanges="orientation|screenSize"/>
    </application>
</manifest>